/* ======================================
   CSS Starter File
====================================== */


/* =========================
   TODO 1: Style body
   - Add background color
   - Change font
========================= */

body {
    background-image: url("https://images.unsplash.com/photo-1768813282031-2aec62eee8b7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1fHx8ZW58MHx8fHx8");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


/* =========================
   TODO 2: Create gallery grid
   Use:
   display: grid
   grid-template-columns
   gap
========================= */

.gallery {

}


/* =========================
   TODO 3: Style images
   - width 100%
   - fixed height
   - object-fit: cover
========================= */

.gallery img {

}


/* =========================
   TODO 4: Hover effect
   Make images slightly zoom
========================= */

.gallery img:hover {

}


/* =========================
   TODO 5: Optional styling
   Add:
   - padding
   - margins
   - borders
========================= */
